:root {
    --bggrad_1: #202024;
    --bggrad_2: #030303;
    --conbg:#141416;
    --accent:#3f3732;
    --fc_1: #ccb789;
    --fc_2:#aa9974;
    --linkc_1:#964b06;
    --lchover_1: #caab22; 
    --titlecolor:#f5e0b4; 
}
/*generic changes*/
body {
    background-color:var(--bggrad_1);
    background: linear-gradient(110deg, var(--bggrad_1) 0%, var(--bggrad_2) 100%);
    color:var(--fc_2);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:5px;
}
a {
    color:var(--linkc_1);
    text-decoration: none;
    transition: all .5s ease;
}

a:hover {
    color:var(--lchover_1);
}

h1 {
    font-weight:bolder;
    font-family: 'Courier New', Courier, monospace;
    line-height: 0px;
}
h2 {
    text-indent:2%;
    line-height: 5px;
    padding-top:30px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--fc_1);
} 

h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--fc_1);
}
hr {
    max-width: 60%;
    color:var(--accent);
    margin-inline-start: 10px;
}

p {
    margin-left: 30px;
    text-indent: 3%;
    line-height: 150%;
    width:90%;
}

/*specific changes*/
.names {
    color:var(--fc_1);
    padding:3px;
    background-color: var(--linkc_1);
    padding: 10px;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    transition: 0.3s;
}

.names:hover {
    color:var(--linkc_1);
    background-color: var(--conbg); 
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    border-radius: 40%;
}

.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition-duration: 3s;
    position: absolute;
    background-color: var(--bggrad_1);
    width: 380px; 
    max-height:180px;
    overflow-y:auto;
    scrollbar-color: var(--linkc_1) var(--bggrad_1);
    scrollbar-width:thin;
    box-shadow: 0px 8px 16px 0px #000;
    z-index: 1;
    transition: all .5s ease;
    transform: translateY(-30px); 
        -webkit-border-radius: 15%;
        -moz-border-radius: 15%;
        border-radius: 15%;
  }
  
  .dropdown:hover .dropdown-content {
    transform: translateY(0);
    opacity: 1; 
    visibility: visible;
  }

#titleinfo {  
    color:var(--titlecolor);
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.credits {
    display:grid;
    font-size:small;
    max-width:12%;
    grid-template-columns:100% 100% 100%; 
    grid-template-rows:20px; 
}

/*imgs*/
img.profile {
    width:350px;
    height:450px;
    margin-top: 50px; 
    object-fit: cover;
    border: 3px solid var(--bggrad_1); 
    -webkit-border-radius: 0 30% 0% 30%;
    -moz-border-radius: 0 30% 0% 30%;
    border-radius: 0 30% 0% 30%;
 }

 img.profile2 {
    width:350px;
    height:200px;
    object-fit: cover;
    margin:auto;
    margin-right:50px;
    margin-bottom:20px;
    margin-top: 50px; 
    object-fit: cover;
    border: 3px solid var(--bggrad_1); 
    -webkit-border-radius: 0 30% 0% 30%;
    -moz-border-radius: 0 30% 0% 30%;
    border-radius: 0 30% 0% 30%;
 }


img.rounded {
    width:200px;
    height:200px; 
    display:block;
    margin-left:auto;
    margin-right:auto;
    object-fit: cover;
    border: 3px solid var(--bggrad_1); 
    transition: all 1s ease;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;}

 img.banner {
    width:100%;
    height:300px;
    object-fit: none;
    object-position: 0px 0px;
    display:block;
    margin-left: auto; 
    margin-right: auto;
        -webkit-border-radius: 0 80% 0% 20%;
        -moz-border-radius: 0 80% 0% 20% ;
        border-radius: 0 80% 0% 20%;
 }

/*cont*/
 .container {  
    max-width:90%; 
    display:flex;
    margin-left: auto;
    margin-right: auto; 
    padding-left:40px;
    padding-bottom:35px;
    border-color:var(--conbg);
    background-color:var(--conbg); 
   }

   .affiliatestext {
    width:400px;
   }

/*Navigation*/
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-variant-caps: all-small-caps;
    overflow: hidden;
    background-color: var(--bggrad_1);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: var(--bggrad_2);
    transition-duration: 1s;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding: 100px;
  }